$white: #fff;
$low-contrast-white: #f0f2f5;
$blue: #3770e4;
$dark-blue: #3165ce;
$grey: rgb(170, 166, 166);
$light-grey: rgb(223, 223, 223);
$green: #42b72a;
$dark-green: #3c9e28;
$font: Helvetica, Arial, sans-serif;

@mixin flex($property, $value) {
  display: flex;
  #{$property}: $value;
}

%width-content {
  max-width: 900px !important;
  margin: 150px auto 0 auto;
  padding: 0 1rem;
}

%pattern-input {
  padding: 1rem;
  border: 1px solid $light-grey;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
}

%border-top {
  border-top: 1px solid $light-grey;
}

@mixin submit-login($background-color, $color, $width) {
  background-color: $background-color;
  color: $color;
  width: $width !important;
  font-weight: bold;
  transition: 0.2s all;
}

/*  */

.page {
  background-color: $low-contrast-white;
  font-family: $font;
  @extend %width-content;

  .main {
    .main-contents {
      @include flex(justify-content, space-between);
      align-items: center;

      .presentation {
        width: 45%;
        .presentation-title {
          color: $blue;
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        .presentation-text {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }

      .login {
        width: 45%;

        .login-form {
          padding: 1rem;
          margin-bottom: 2rem;
          border-radius: 5px;
          box-shadow: 0 2px 4px $grey;

          .login-form-login {
            text-align: center;

            .input {
              @extend %pattern-input;
              width: 100%;
              margin-bottom: 1rem;
            }

            .submit-login {
              @include submit-login($blue, $white, 100%);

              &:hover {
                background-color: $dark-blue;
                cursor: pointer;
              }
            }
          }
        }

        .login-form-register {
          @extend %border-top;
          margin-top: 1rem;

          .input {
            @extend %pattern-input;
          }

          .input-register {
            @include submit-login($green, $white, 60%);
            margin: 1rem auto;

            &:hover {
              background-color: $dark-green;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .footer {
    @extend %border-top;
    padding: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  %width-content {
    margin-top: 100px;
  }

  .main-contents {
    text-align: center;
    flex-direction: column;

    .presentation, .login {
      width: 100% !important;
    }
  }
}