.content-login {
  @extend %pattern-size-container;

  .form {
    @extend %pattern-color-section, %pattern-size-form;

    .legend,
    .input {
      display: block;
    }
    .legend {
      padding: 0.5rem 0;
    }
    .input {
      width: 100%;
    }
  }

  .acess-change-password {
    @extend %pattern-size-form;
    padding: 0;
    text-align: center;

    .submit {
      @extend %pattern-color-section;
      border: none;
      width: 40%;
      padding: 0.2rem;
      margin-bottom: 1.5rem;
    }
  }
}
