@import "sass-property";

.page {
  font-family: $font;
  font-size: 0.8rem;
}

.header {
  @extend %pattern-size-container, %pattern-color-section;
}

.main {
  @import "content-login";
}

.footer {
  @extend %pattern-color-section, %pattern-size-container;
  padding: 1rem 0.5rem;
  text-align: center;

  .link {
    color: $white !important;
  }
}

@import "media-queries";
