$red: #CC092F;
$white: #fff;
$font: 'Arial';

%pattern-size-container {
  width: 800px;
  margin: 0 auto;
}

%pattern-color-section {
  background-color: $red;
  color: $white;
}

%pattern-size-form {
  width: 250px;
  margin: 2rem 0 1rem 1rem;
  padding: 0rem 2rem 1rem 2rem;
}

.page {
  font-family: $font;
  font-size: 0.8rem;
}

.header {
  @extend %pattern-size-container, %pattern-color-section;
}

.main {
  .content-login {
    @extend %pattern-size-container;

    .form {
      @extend %pattern-color-section, %pattern-size-form;

      .legend, .input {
        display: block;
      }
      .legend {
        padding: 0.5rem 0;
      }
      .input {
        width: 100%;
      }
    }

    .acess-change-password {
      @extend %pattern-size-form;
      padding: 0;
      text-align: center;

      .submit {
        @extend %pattern-color-section;
        border: none;
        width: 40%;
        padding: 0.2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.footer {
  @extend %pattern-color-section, %pattern-size-container;
  padding: 1rem 0.5rem;
  text-align: center;
  
  .link {
    color: $white !important;
  }
}